@import '../../fonts/fonts.sass'

.filter
    display: flex
    justify-content: space-between
    max-width: 1200px
    margin: 0 auto
    padding-top: 55px
    background-color: #f5f5f5
    font-family: 'PTSans'
    font-size: 16px

.filter__sidebar
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 325px

.filter__content
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 835px

.filter__element
    width: 100%
    padding: 23px 20px
    border: 1px solid #EAEAEA
    border-radius: 10px
    background-color: #fff

.filter__input
    height: 50px
    padding-top: 15px
    padding-bottom: 15px
    font-family: 'PTSans'
    font-size: 16px
    box-sizing: border-box

    &::placeholder
        color: #868686